.contact-container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;
    margin-bottom: 100px;
  }
  .title {
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
  }
  .desc {
    margin: 0;
    text-align: left;
    font-size: 20px;
  }
  .email {
    text-align: left;
    margin-top: 25px;
    margin-left: 20%;
    margin-right: 20%;
  }
  .invalid {
    color: red;
  }
  .success {
    color: green;
    text-align: center;
  }
  